<ion-content padding class="background">

  <ion-grid fixed>

    <ion-row class="mb-5">
      <ion-col class="vertical-center">
        <img src="./assets/img/logos-paco/LogoPaco_Blanco_364.svg">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bt-bottom">
        <ion-button expand="block" class="rounded background-white" (click)="goLogin()">Inicia tu sesión</ion-button>
        <!-- <ion-button expand="block" class="rounded background-blue mt-4">Regístrate</ion-button> -->
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>