<ion-header class="ion-no-border" color="light">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news/list" text="Atrás" class="ion-text-capitalize"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-grid class="resetValuesCss ion-padding-top" *ngIf="isNews">

    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let image of news.images">
        <ion-img class="imgNews" [src]="image.image"></ion-img>
      </ion-slide>

    </ion-slides>


    <div class="ion-padding">
      <ion-row>
        <ion-col>
          <h1>{{ news.title }}</h1>
          <p id="publicationDate">
            <strong class="ion-text-capitalize">Publicada: </strong>{{ news.start_date | date }}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text [innerHTML]="news.description">
            <!-- {{ news.description }} -->
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="news.link">
        <ion-col>
          <ion-button class="btnLink" color="secondary" (click)="openLink(news.link)">
            <p *ngIf="news.btn_text !== 'null' || news.btn_text">{{news.btn_text}}</p>
            <p *ngIf="news.btn_text === 'null' || !news.btn_text">Click aquí</p>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>

    <ion-row class="ion-padding">
      <ion-col>
        <ion-toolbar id="postBy" color="light">
          <ion-text>
            Publicado por: {{ news.author }}
          </ion-text>
          <!-- <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>