<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="Atrás" class="ion-text-capitalize"></ion-back-button>
    </ion-buttons>

    <ion-title class="title">Cambiar contraseña</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" src="assets/img/HMenu-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="changePassword()" [formGroup]="changePass">

    <div class="row">
      <div class="col">
        <h3 class="ion-text-center txtTitle">Cambia tu contraseña</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="txtSubtitle">Elige una nueva contraseña para tu usuario</p>
      </div>
    </div>

    <ion-row>
      <ion-col>

        <ion-list>

          <ion-item lines="none">
            <ion-label position="floating">Contraseña anterior </ion-label>
            <ion-input type="password" name="oldPassword" formControlName="oldPassword" class="inputs" [type]="typeOldPass"></ion-input>
            <ion-icon id="viewPassword"  [name]="(typeOldPass == 'password') ? 'eye' : 'eye-off'" slot="end" (click)="viewOldPassword()"></ion-icon>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Nueva contraseña </ion-label>
            <ion-input type="password" formControlName="newPassword" name="newPassword" class="inputs" [type]="typeNewPass"></ion-input>
            <ion-icon id="viewPassword"  [name]="(typeNewPass == 'password') ? 'eye' : 'eye-off'" slot="end" (click)="viewNewPassword()"></ion-icon>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button type="submit" color="secondary" shape="round" [disabled]="this.changePass.invalid">
          Confirmar
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>