* {
    font-family: Raleway !important;
}
  
ion-header {
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.title {
    text-transform: none;
    font-size: 4vw;
}

.txtTitle {
    color: #9695d0;
}

.txtSubtitle {
    margin-left: 1.2rem;
}

form {
    position: relative;
    top: 20vh;
}

ion-item {
    margin-top: 1rem;
}

ion-label {
    font-weight: bold;
}

.inputs {
    border-bottom: 1px solid black;
    padding: .5rem 1rem !important;
}

#viewPassword {
    color: #6868ef;
    position: absolute;
    right: 7px;
    bottom: 0;
}
