<ion-buttons slot="start" class="fondo-backbtn">
  <ion-back-button  defaultHref="/login"></ion-back-button>
</ion-buttons>

<ion-content class="fondo">
  <!-- <ion-slides class="mainSlide fondo" [options]="swiperOpts">

    <ion-slide> -->

      <form  [formGroup]="restore" (ngSubmit)="restorePassword()">
        <ion-grid fixed>

          <ion-row class="mt-logo">
            <ion-col>
              <img src="./assets/img/logos-paco/LogoPaco_Blanco_364.svg">
            </ion-col>
          </ion-row>

          <ion-row class="mb-3">
            <ion-col>
              <div class="ion-text-start text-white">
                <h1 class="ion-text-start text-bold">¿Olvidaste tu contraseña?</h1>
                <p class="sub-text">Ingresa el correo electrónico con el que te registraste, para poder enviarte las instrucciones de cómo crear tu nueva contraseña.</p>
                
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>

              <ion-list class="fondo-t">
                <p class="align-left text-white">Correo electrónico</p>
                <ion-item class="mt-input rounded" lines="none">
                  <ion-input 
                    formControlName="username" type="text" name="user" placeholder="Ingrese nombre se usuario">
                  </ion-input>
                </ion-item>
                <div class="errorsInput" *ngIf="this.restore.get('username').hasError('required') && this.restore.get('username').touched">
                  * Campo usuario es requerido
                </div>
                <div class="errorsInput" *ngIf="this.restore.get('username').hasError('pattern')">
                  * Ingrese un correo válido <br>
                  * El correo no puede contener caracteres especiales
                </div>

                <ion-row class="mt-4">
                  <ion-col>
                    <ion-button type="submit" class=" rounded" color="secondary" [disabled]="this.restore.invalid" expand="block">
                      Enviar correo
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-list>
            </ion-col>
          </ion-row>
          
          <!-- <ion-label class="text-footer">¿No tienes cuenta? <a href="#" class="text-footer">Crea ya la tuya</a></ion-label> -->

        </ion-grid>
      </form>


    <!-- </ion-slide>

  </ion-slides>
 -->


</ion-content>

