<ion-header class="ion-no-border">
  <ion-toolbar class="myToolbar">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="Atrás" class="ion-text-capitalize"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize">Mensajes</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" src="assets/img/HMenu-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #content [scrollEvents]="true">

  <ion-grid>
    <ion-row *ngFor="let message of messages, let i = index">
      <ion-col size="9" class="message" [offset]="message.myMsg ? 3 : 0"
        [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">
        <!-- <b *ngIf="!message.myMsg">{{ message.nombreUsuario }}</b><br> -->
        <p class="userName">
          <b>{{ message.nombreUsuario }}</b>
        </p>
        <ion-button *ngIf="message.myMsg && !message.isDelete" class="optionMyMsg" (click)="removeMsg(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <!-- Si el mensaje no ha sido eliminda, se muestra normal -->
        <span *ngIf="!message.isDelete" [innerHTML]="message.mensaje"></span>
        <!-- Si el mensaje ha sido eliminda, se muestra el mensaje de "Eliminaste este mensaje" -->
        <span *ngIf="message.isDelete && message.myMsg">
          <ion-icon class="noMsg" slot="icon-only" name="alert-circle"></ion-icon> Eliminaste este mensaje
        </span>
        <span *ngIf="message.isDelete && !message.myMsg">
          <ion-icon class="noMsg" slot="icon-only" name="alert-circle-outline"></ion-icon> Este mensaje fue eliminado
        </span>
        <div [ngClass]="{ 'my-time': message.myMsg, 'other-time': !message.myMsg }" class="time ion-text-right">
          <!-- <br>{{ message.fechaMensaje | date: 'short'}} -->
          <br>{{ message.fechaMensaje}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <form>
          <ion-textarea autoGrow="true" class="message-input" rows="1" maxLength="500" [(ngModel)]="newMsg"
            name="newMsg" (keyup.enter)="sendMessage()" placeholder="Escribe tu mensaje">
          </ion-textarea>
        </form>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>

        <!-- <ion-fab-button size="small">
            <ion-icon name="send"></ion-icon>
          </ion-fab-button> -->

      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>