<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483058656029-pedog47lecfofq3e417n1fb0po4n6r3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483058656029-pedog47lecfofq3e417n1fb0po4n6r3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBjmFABHnOVt88kiKcfZe4W2H9g_S3ndV0</string>
	<key>GCM_SENDER_ID</key>
	<string>483058656029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desarrolloeficaz.paco</string>
	<key>PROJECT_ID</key>
	<string>paco-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>paco-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483058656029:ios:a05b9060be8a3dcf08f7f4</string>
	<key>DATABASE_URL</key>
	<string>https://paco-prod-default-rtdb.firebaseio.com</string>
</dict>
</plist>